button{
  border-radius: 3%;
}

.bit {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
    color: white;
}

h1{
  font-size: 3vh;
  text-align: center;
}

h2{
  font-size: 2vh;
  text-align: center;
}

#result_div{
  font-size: 85px;
  max-width: 100vw;
}

button{
  width: 25%;
  height: 150px;
  font-size: 2vh;
}
input{
  width: 25%;
  font-size: 2vh;
  text-align: center;
}
#copy_button{
  margin-top: 10px;
  margin-left: 25%;
  width: 50%;
}
